<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enter PDF Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='s.css') }}">
</head>
<body>
    <h2>PDF Password Required</h2>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul style="color: red;">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <form method="POST">
        <label for="pdf_password">Enter PDF Password:</label>
        <input type="password" name="pdf_password" required>
        <p></p>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
